/************ nav bar *************/

@keyframes navbarAnimate {
  from {
    height: 0px;
    overflow: hidden;
  }
  to {
    height: 85px;
  }
}

nav {
  display: flex;
  justify-content: center;
  padding: .3rem 0;
  box-shadow: 0px -2px 5px 5px #00000022;
  border-bottom: .3px solid #80808055;
  transition: height .25s;

  &.scroll {
    animation: navbarAnimate .2s;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
  }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        align-items: end;

        img {
          width: 75px;
        }

        ul {
          display: flex;
          list-style: none;
          margin-bottom: .6rem;

          li {
            text-transform: uppercase;
            margin-left: 1.4rem;
            font-size: .8em;
            cursor: pointer;
            font-weight: 500;
            letter-spacing: .08em;
            position: relative;
            transition: all .2s ease;
            
            &::after {
              content: '';
              width: 100%;
              height: 3px;
              background: transparent;
              position: absolute;
              bottom: -5px;
              left: 0;
              transition: all .3s ease;
            }
            
            &:hover {
              color: green;
              &::after {
                background: green;
              }
            }
          }
        }
      }

      .right {
        display: flex;
        gap: 1.3rem;

        a {
          display: flex;
          gap: 10px;
          i {
            color: green;
          }
        }

        a:first-child {
          border-right: 1px solid;
          padding-right: 1rem;
        }
      }
    }
}

.hambergerBtn {
  display: none;
  flex-direction: column;
  gap: .25rem;
  cursor: pointer;
  span {
    background-color: #000000;
    width: 25px;
    height: 2px;
  }
}

@media (max-width: 900px) {

  nav {
    .nav-item, .right{
      display: none !important;
    }
  }

  .hambergerBtn {
    display: flex;
  }
  
}

/***************** Footer style *****************/
footer {
  margin-top: 5em;
  background: #f7f7f7;
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    padding: 2rem 0 0 0 ;
  }
  .footer-top .links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    > div {
      h1 {
        font-size: unset;
        text-transform: uppercase;
      }
      a {
        color: #00000088;
        display: block;
        &:hover {
          color: #000000;
        }
      }
    }

    .country {
      display: flex;
      gap: 1.6rem;
      > div {
        cursor: pointer;
        color: #00000088;

        &:hover {
          color: #000000;
        }
        i {
          margin-right: 10px;
          color: green;
        }
      }
    }
  }
}

.social {
  border-top: 1px solid #00000022;
  padding: 1rem 0;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    justify-content: end;
    > img {
      height: 36px;
      margin: 0 .4rem;
    }
  }
}

.footer-bottom {
  background: #5b5b5b;
  height: 60px;
  width: 100%;
  color: #bfbfbf;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8em;

    .links {
      display: flex;
      gap: 1rem;
      a:hover {
        color: #f7f7f7;
      }
    }
  }
}