no* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  outline: 0;
  font-family: Sodo-Sans;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

.container {
  max-width: 1500px;
  width: 100%;
}

:has(.container):not(body, #root) {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 95%;
  }
}

@font-face {
  font-family: Sodo-Sans;
  src: url('./assets/font/SoDoSans-Light.woff2');
  font-weight: 300;
}
@font-face {
  font-family: Sodo-Sans;
  src: url('./assets/font/SoDoSans-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: Sodo-Sans;
  src: url('./assets/font/SoDoSans-SemiBold.woff2');
  font-weight: 500;
}